@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Assignment 5.1 Jersey Buoys
   
   Author:   Nicole Manning Lorino
   Date:       6/27/2025
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/*  ===========
    Base Styles
    ===========
*/

@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Tutorial Case
   
   Author:   Nicole Manning Lorino
   Date:     6/26/2025
   
   Filename: tf_styles1.css
   
   This file contains the layout styles used in the Trusted Friends
   home page.

*/

/* ===========
   Base Styles
   ===========
*/


/* HTML and Body Styles */

html {
   background: url(../images/jb_back3.png) center center / cover no-repeat fixed;
   height: 100%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 18px;
}

body {
   background-color: white;  
   box-shadow: rgb(51, 51, 51) 5px 0px 15px, rgb(51, 51, 51) -5px 0px 15px;
   margin: 0px auto;
   min-height: 100%;
   min-width: 320px;
   /*max-width: 1024px;*/
   width: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

/* Body Header Styles */

header {
   background: white;
   width: 100%;   
}

header img {
   display: block;
   width: 50%;
   margin: 0px auto;
}

/* Horizonal Navigation Styles */

nav.horizontal {
   background-color: rgb(65, 147, 125);
   min-height: 2em;
   display: -webkit-flex;
   display: flex;
   justify-content: space-around;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

nav.horizontal ul li {
   display: block;
   width: 8em;
   line-height: 2em;
}

nav.horizontal a {
   display: block;
   font-size: 1em;
   text-decoration: none;
}

nav.horizontal a:visited, nav.horizontal a:link {
   color: white;
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-color: rgb(88, 150, 206);
   display: block;
   color: white;
}


/* Main Menu Styles */

ul.mainmenu {
   display: -webkit-flex; 
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   justify-content: space-between;
}

ul.mainmenu li {
   text-indent: 15px;
   display: block;
   width: 100%;
   position: relative;
}

/* Submenu Styles */

ul.submenu {
   position: absolute;
   width: auto;
   background-color: rgb(108, 168, 69);
}

ul.submenu li {
    display: block;
    width: auto;
    margin: 0px auto;
    padding-right: 50px;
	padding-left: 0px;
    white-space: nowrap;
}


/* Pulldown Menu Styles */

ul.submenu {
   display: none;
}

a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
   display: block;
}

/* Main Section Styles */


section#main {
   display: -webkit-flex; 
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

section#main article {
    flex: 2 1 200px;
    background-color: rgb(202, 241, 247);
    padding: 0px 15px;
    font-size: 20px;
    order: 99;
}

section#main img#surf1 {
    display: block;
    width: 100%;
    padding: 15px 0px;
}

section#main img#surf2 {
    display: block;
    float: right;
    width: 45%;
    padding: 15px 0px 15px 10px;
}

section#main aside {
    flex: 1 1 150px;
    background-color: rgb(126, 203, 229);
    padding: 0px 20px;
    order: 100;
}

/* Heading Styles */

h1 {
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

/* Text List Styles */

dl {
    line-height: 1.4em;
}

dl dt {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.3em;
}

dl dt:not(:first-child) {
    margin-top: 15px;
}


/* Footer Styles */

footer {
   background-color: rgb(65, 147, 125);
   font-size: 0.9em;
   text-align: center;
   padding: 30px 0px;
   width: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}

section#f1, section#f2, section#f3 {
   line-height: 1.3em;
   flex: 1 1 50px;
}

address {
   font-style: normal;
}


section#f1 p:first-line, address:first-line {
   font-weight: bold;
   font-size: 18px;
}

section#f2 p {
   font-size: 20px;
}

section#f2 p:first-line {
   font-weight: bold;
   font-size: 35px;
}




/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
@media only screen and (max-width: 480px) {

   section#main article {
      font-size: 15px;
   }
   
   section#main aside {
      display: none;
   }

   a#navicon {
      display: block;
      width: 60px;
   }

   nav.horizontal {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap;
   }

   nav.horizontal ul {
      display: none;
   }

   a#navicon:hover+ul, nav.horizontal ul:hover {
      display: -webkit-flex;
      display: flex;
   }

   nav.horizontal ul li {
      display: block;
      width: 100%;
   }

   ul.submenu {
      position: relative;
   }

   footer {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
   }

   section#f2 {
      order: 150;
   }

   section#f1 {
      order: 151;
      margin-bottom: 15px;
   }

   section#f3 {
      order: 152;
   }

   section[id^="f"] p {
      font-size: 15px;
   }

   section#f2 p:first-line {
      font-size: 30px;
   }

   section#f2 p, section#f1 p, section#f3 address {
      font-size: 15px;
   }

}



/* =============================================
	Tablet and Desktop Devices: 481px and Greater
   =============================================
*/
@media only screen and (min-width: 481px) {

   a#navicon {
      display: none;
   }

}
